body {
    background-color: rgb(247, 247, 247);
}

.title-container {
    width: 100%;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-bottom: 20px solid #0c0749d2;
}

.title-container h1 {
    font-weight: 600;
}

.table tr:hover {
    background: linear-gradient(135deg, #0c0749d2 0%, #0c0749d2 100%);
    color: rgb(255, 255, 255);
}

.table {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid;
}